<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header') -%>
  <body>
    <!-- Start your project here-->
    <%- include('layouts/navBar') -%>
    <div class="parallax" 
      data-mdb-max-height="500"
      data-mdb-delay="2"
      data-mdb-image-src="https://s3-ca-central-1.amazonaws.com/files.regalinsurance.com/wp-content/uploads/2019/09/insurance_agent.jpg" >
        <div class="container">
          <%- include('components/homeIntro') -%>
        </div>
    </div>

    <!-- Tabs content -->
    <main>
      <%- include('components/homeFeatures') -%>
      <%- include('components/homeBlogSection') -%>
    </main>
    <!-- Tabs content -->
    <%- include('layouts/footer') -%>
  </body>

  <%- include('layouts/scripts') -%>
</html>
