<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header') -%>
  <body>
    <!-- Start your project here-->
    <%- include('layouts/navBar') -%>

    <!-- Tabs content -->
    <div>
      <%- include('components/loginUser') -%>
    </div>
    <!-- Tabs content -->
    
    <%- include('layouts/footer') -%>
  </body>

  <%- include('layouts/scripts') -%>
</html>